

.buttons {
	padding: 15px 0;
}


// general button styles
.btn {
	@include font-semi;
	opacity: 1;
	border: 0;
	padding: 10px 30px;
	font-size: 14px;
	line-height: 20px;
	transition: opacity 400ms ease-in-out;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	background-color: $grey;
	color: white;
	-webkit-appearance: none;
	border-radius: 22px;
	border: 0 !important;

	&:hover {
		text-decoration: none;
		opacity: .8;
		border-bottom: none;
	}

	&.red {
		background-color: $red;
		color: white;
	}

	&.blue {
		background-color: $blue;
		color: white;
	}

	&.tan {
		background-color: $tan;
		color: black;
	}

	&.white {
		background-color: white;
		color: black;
	}

	&.large {
		font-size: 22px;
		line-height: 30px;
	}
}

