

// set colors
$grey: #666666;
$grey-light: #999999;
$grey-dark: #444444;
// $red: #97303d;
// $red: #B30838;
$red: #a10833;
// $red: #96062f;
$blue: #233f6c;
$green: #38914a;
$tan: #eeeae3;
$yellow: #F8C630;
$teal: #3E92CC;


// breakpoints
$bp-s: 600px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1150px;
$bp-xxl: 1450px;
$bp-xxxl: 1680px;


// import all the things
@import "mixins", "fonts", "reset", "button", "base", "form";


// import layout components
@import "header", "content", "sidebar", "footer", "event", "single", "search";


// import page components
@import "component/alum", "component/slides", "component/hero", "component/accordions", "component/title", "component/section-title", 
    "component/content", "component/stats", "component/quick-links", "component/quotes", "component/goals", "component/ctas", 
    "component/people", "component/areas", "component/nav-menu", "component/posts", "component/tabs", "component/photo-grid", 
    "component/facts", "component/event-cards", "component/hours", "component/icon", "component/emergency", "component/number-cards",
    "component/guides", "component/timeline", "component/before-after", "component/stories", "component/instagram";


// import lightbox styles
@import "magnific";

