

.content .before-after, .content-two .before-after {
    border-radius: 6px;
    overflow: hidden;
}


.before-after-carousel {
    position: relative;
    z-index: 0;

    .before-after-carousel-slides {
        .before-after {
            position: relative;
            z-index: 1;
            display: none;

            &.visible {
                display: block;
            }
        }
    }

    a.prev {
        position: absolute;
        z-index: 20;
        top: 50%;
        left: 20px;
        height: 80px;
        width: 80px;
        margin-top: -40px;
        color: transparent;
        background: url(../img/icon-arrow-left.png) center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    a.next {
        position: absolute;
        z-index: 20;
        top: 50%;
        right: 20px;
        height: 80px;
        width: 80px;
        margin-top: -40px;
        color: transparent;
        background: url(../img/icon-arrow-right.png) center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    a:hover {
        border: 0 !important;
    }
}

