

.cta-container {
	position: relative;
    @include padding;
	background: white;
    text-align: center;

	&.tan {
		background: $tan;
	}

	&.pad-tall {
		@include padding-tall;
	}

	&.background-photo {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 400px;
		display: flex;
		align-items: center;

		.cta {
			flex: 1;
			max-width: 800px;
			margin: 0 auto;
		}
	}

	&.image-box {
		@include respond-to( $bp-m ) {
			padding-right: 0;
		}

		.cta {
			background: $red;
			color: white;
			max-width: 800px;
			margin: 40px auto;
			padding: 30px 4%;

			@include respond-to( $bp-m ) {
				max-width: 65%;
				padding: 30px 7% 30px 4%;
				margin: 40px 0 40px auto;
				text-align: left;
			}

			@include respond-to( $bp-l ) {
				padding: 40px 7% 40px 4%;
			}
		}
	}

	&.text-white {
		&:after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
			background: rgba( black, .5 );
			z-index: 0;
		}

		&.no-overlay:after {
			display: none;
		}

		.cta {
			position: relative;
			z-index: 1;
		}

		h1, h2 ,h3, h4, h5, h6, p, li, a {
			color: white;
			text-shadow: 0 0 10px rgba( black, .5 );
		}

		.btn.white, .btn.tan {
			color: black;
		}
	}

	&.text-black {
		&:after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
			background: rgba( white, .5 );
			z-index: 0;
		}

		&.no-overlay:after {
			display: none;
		}

		.cta {
			position: relative;
			z-index: 1;
		}

		h1, h2 ,h3, h4, h5, h6, p, li {
			color: black;
			text-shadow: 0 0 10px rgba( white, .5 );
		}
	}

	&.red {
		background: $red;

		.btn {
			background: none;
		}

		.cta-buttons {
			padding: 1px;
			border: 1px solid white;
			border-radius: 22px;
			display: block;
			@include respond-to( $bp-m ) {
				display: inline-block;
				width: auto;
			}


			&:hover .btn:first-child {
				background: none !important;
				color: white !important;
			}

			.btn {
				margin: 0;
				background: none !important;
				color: white !important;
				transition: all 400ms ease-in-out;
				margin-left: 2px;
				display: block;

				@include respond-to( $bp-m ) {
					display: inline-block;
					min-width: 200px;
				}

				&:first-child {
					margin-left: 0;
				}

				&:first-child:hover, &:first-child, &:hover {
					background: white !important;
					color: black !important;
					opacity: 1;
				}
			}
		}
	}
}


.cta-buttons {
	padding: 12px 0;

	&.center {
		text-align: center;
	}

	.btn {
		margin: 4px 6px;

		@include respond-to( $bp-m ) {
			margin: 0 6px;
			margin-bottom: 8px;
		}
	}
}

