

.event-cards-container {
    @include padding;

    &.pad-tall {
        @include padding-tall;
    }
    
    &.tan {
        background: $tan;
    }

    .event-cards {
        @extend .content-style;
        
        @include respond-to( $bp-s ) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -3%;
        }
    
        @include respond-to( $bp-s ) {
            margin-right: -5%;
        }
    
        .event-card {
            @extend .content-style;
            background: white;
            border-radius: 6px;
            border: 1px solid rgba( black, .5 );
            padding: 25px;
            margin-bottom: 25px;

            @include respond-to( $bp-s ) {
                flex: 0 0 50%;
                margin: 0 3% 3% 0;
            }

            @include respond-to( $bp-m ) {
                flex: 0 0 28.3333%;
                margin: 0 5% 5% 0;
            }

            .card-date {
                display: flex;
                @include font-bold;
                color: $blue;
                padding: 15px 0;

                div {
                    flex: 1;

                    &.day {
                        text-align: center;
                        @include font-termina-bold;
                        font-size: 2.5em;
                    }

                    &.year {
                        text-align: right;
                    }
                }
            }
        } 
    }
}

