
@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes p {
    from{ --p: 0 }
}

.pie {
    --p: 20;
    --b: 20px;
    --c: $red;
    --w: 200px;

    @include respond-to( $bp-m ) {
        --b: 35px;
        --w: 300px;
    }

    @include respond-to( $bp-l ) {
        --b: 45px;
        --w: 375px;
    }

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 0 0 20px 0;
    place-content: center;

    h2 {
        color: $blue;
        padding: 0;
        line-height: 1.1em;
    }
    
    h5 {
        font-size: .9em;
        padding: 0;
    }

    &:before, &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
    }

    &:before {
        inset:0;
        background:
            radial-gradient( farthest-side, $red 98%,#0000) top/var(--b) var(--b) no-repeat,
            conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
        -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
                mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
        background-size: 0 0, auto;
    }

    &:after {
        inset: calc(50% - var(--b)/2);
        background: $red;
        transform: rotate( calc( var(--p)*3.6deg ) ) translateY( calc( 50% - var(--w)/2 ) );
        content:none;
    }

    &.animate {
        animation: p 600ms ease-in-out;
    }
}


.goals-container {
    @include padding-tall;

    &.tan {
        background: $tan;
    }

    .goals {
        @include respond-to( $bp-m ) {
            display: flex;

            .goal-main {
                flex: 1 1 50%;
                margin-right: 5%;
            }

            .goals-minor {
                flex: 1 1 50%;
            }
        }

        .goal-main {
            text-align: center;
        }

        .goals-minor {
            .goal {
                padding-bottom: 25px;

                .info {
                    
                }

                .bar-container {
                    position: relative;
                    border: 1px solid black;
                    padding: 2px;
                    background: white;
                    border-radius: 19px;
                    margin-top: 10px;

                    .bar {
                        background: $tan;
                        height: 30px;
                        border-radius: 15px;
                    }

                    .number {
                        position: absolute;
                        top: 50%;
                        left: 20px;
                        margin-top: -7px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

