

.guides {
    @extend .content-style;
    @include padding;
    background: white;
    color: black;

    &.pad-tall {
        @include padding-tall;
    }

    &.tan {
        background: $tan;
    }

    @include respond-to( $bp-m ) {
        display: flex;
    }

    .guide-column {
        flex: 1 1 50%;
        padding-right: 3%;
    }
}


.guides-container {
    @include respond-to( $bp-m ) {
        display: flex;

        .guide-menu {
            flex: 1 1 25%;
        }

        .guide-content {
            flex: 1 1 75%;
        }
    }

    .guide-menu {
        padding-top: 20px;

        h6 {
            text-transform: uppercase;
            font-size: .8em;
            opacity: .5;
            padding-left: 9px;
        }

        ul {
            list-style: none;
            padding: 0;
            border-left: 1px solid #ccc;

            li {
                border-bottom: 1px solid #aaa;
                border-top: 1px solid #ccc;
                padding: 5px 9px;
                cursor: pointer;

                &.current {
                    background: $red;
                    color: white;
                }
            }
        }
    }

    .guide-content {
        padding: 4%;
        box-shadow: 0 0 25px rgba( black, .3 );

        .guide-entry {
            display: none;

            &.visible { 
                display: block;
            }
        }
    }
}
