

.photo-grid-container {

    &.tan {
        background: $tan;
    }

    &.pad-tall {
        @include padding-tall;
    }

    &.pad-normal {
        @include padding;
    }

    &.pad-side {
        @include padding-side;
    }

    .photo-grid {
        a {
            display: block;
            margin-bottom: 20px;
            
            .photo {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                @include font-termina-demi;
                font-size: 1.2em;
                line-height: 1.2em;
                text-shadow: 0 0 20px rgba( black, .5 );
                color: white;
                display: flex;
                align-items: end;
                padding: 20px;
                height: 350px;

                @include respond-to( $bp-l ) {
                    font-size: 1.3em;
                }

                @include respond-to( $bp-xxl ) {
                    font-size: 1.4em;
                }

                span {
                    flex: 1;
                }
            }

            &:hover {
                border: 0;
            }
        }

        @include respond-to( $bp-s ) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -3%;

            a {
                flex: 1;
                flex-basis: 47%;
                margin-right: 3%;
            }
        }

        @include respond-to( $bp-m ) {
            display: flex;
            flex-wrap: nowrap;

            a {
                flex-basis: 30.3333%;

                .photo {
                    height: auto;
                    aspect-ratio: 3 / 4;
                }
            }
        }

        &.minimal {
            @include respond-to( $bp-s ) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-right: -2%;
            }

            a {
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 10px;
                transition: all 400ms ease-in-out;
                display: flex;
                box-shadow: 0 0 20px rgba( black, .2 );

                .photo {
                    @include font-bold;
                    font-size: .9em;
                }

                &:hover {
                    border: none;
                    opacity: .9;
                }

                @include respond-to( $bp-s ) {
                    flex: 0 1 48%;
                    margin: 0 2% 2% 0;
                }

                @include respond-to( $bp-m ) {
                    flex: 0 1 31.3333%;

                    .photo {
                        aspect-ratio: inherit;
                    }
                }

                @include respond-to( $bp-xl ) {
                    flex: 0 1 23%;
                }

                @include respond-to( $bp-xxl ) {
                    flex: 0 1 18%;
                }

                .photo {
                    background-color: black;
                    background-position: center center;
                    background-size: cover;
                    position: relative;
                    text-align: center;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    height: 100px;
                    padding: 0 20px;

                    @include respond-to( $bp-s ) {
                        height: 120px;
                        padding: 0 35px;
                    }

                    @include respond-to( $bp-m ) {
                        height: 160px;
                        padding: 0 35px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 0;
                        background: rgba( black, .5 );
                    }

                    span {
                        flex: 1;
                        position: relative;
                        z-index: 1;
                        color: white;
                        font-size: 1.2em;
                        line-height: 1.5em;
                        text-shadow: 0 0 30px black;
                    }
                }
            }
        }

        &.whats-new {
            span {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                background: $blue;
                padding: 20px;

                @include respond-to( $bp-m ) {
                    padding: 20px 40px;
                }

                .photo-cta {
                    display: block;
                    text-decoration: underline;
                    color: white;
                    opacity: 1;
                    font-size: .55em;
                }
            }
        }

    }
}

