

.post-list-title {
    @include padding;
    text-transform: uppercase;

    h2 {
        font-size: 3.2em;
        text-align: center;
    }
}


.post-list-container {
    @include padding;

    &.pad-tall {
        @include padding-tall;
    }

    &.pad-sides {
        @include padding-side( 0, 0 );
    }

    &.tan {
        background-color: $tan;
    }

    .post-list {
        
    }
}


.article-cards {
    @include respond-to( $bp-s ) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -3%;
    }

    @include respond-to( $bp-s ) {
        margin-right: -5%;
    }

    .entry {
        @extend .content-style;
        background: white;
        border-radius: 6px;
        border: 1px solid rgba( black, .5 );
        padding: 25px;
        margin-bottom: 25px;

        @include respond-to( $bp-s ) {
            flex: 0 0 50%;
            margin: 0 3% 3% 0;
        }

        @include respond-to( $bp-m ) {
            flex: 0 0 28.3333%;
            margin: 0 5% 5% 0;
        }

        .entry-thumbnail {
            position: relative;

            img {
                display: block;
                width: 100%;
                margin-bottom: 20px;
            }
        }

        h4 {
            font-size: 1.1em;

            a {
                
            }
        }

        p {
            font-size: .9em;
        }

        .post-date {
            padding: 0;
            opacity: .7;
            font-size: .85em;
        }
    }
}


.single-post {
    section.content {
        border-top: 15px solid rgba( $grey, .2 );
    }
}


// post specific styles.
.content-narrow {
    max-width: 800px;
    margin: 30px auto;

    @include respond-to( $bp-l ) {
        max-width: 70%;
    }

    img.alignright, .post-thumbnail, .wp-caption.alignright {
        @include respond-to( $bp-s ) {
            float: right;
            max-width: 50%;
            margin: 15px 0 35px 35px;
        }

        @include respond-to ( $bp-l ) {
            margin-right: -15%;
        }
    }

    img.alignleft, .wp-caption.alignleft {
        @include respond-to( $bp-s ) {
            float: left;
            max-width: 50%;
            margin: 15px 35px 35px 0;
        }

        @include respond-to ( $bp-l ) {
            margin-left: -15%;
        }
    }

    .wp-caption-text {
        font-size: .8em;
    }
}

