

.section-title-container {
	@include padding;
	background: white;

	&.tan {
		background: $tan;
	}

	&.pad-tall {
		@include padding-tall;
	}

	&.pad-no-bottom {
		@include padding-no-bottom;
	}

	@include respond-to( $bp-m ) {
		display: flex;
	}

	.section-title, .section-intro {
		@include respond-to( $bp-m ) {
			flex: 1;
			flex-basis: 50%;
			margin-right: 5%;

			&:last-child {
				margin-right: 0;
			}
		}
		
		p.supertitle {
			@include font-semi;
			font-size: .75em;
			padding: 0;
			color: $blue;
			border-bottom: 1px solid black;
			display: inline-block;
			margin-bottom: 15px;
		}

		h2 {
			@include large-title;
		}
	}

	.section-intro {
		font-size: .85em;
	}
}

