

.stats-container {
    @include padding;
    
    .statistics {
        padding-top: 30px;
        
        @include respond-to( $bp-m ) {
            display: flex;
            margin-top: 20px;
            padding-top: 50px;

            .stat {
                flex: 1;
                padding: 20px;
            }
        }

        @include respond-to( $bp-l ) {
            margin-top: 40px;
            padding-top: 70px;
        }

        .stat {
            text-align: center;

            .stat-icon {
                max-width: 150px;
                padding: 30px;
                margin: 0 auto;
                border-radius: 50%;
                background: $tan;

                img {
                    display: block;
                }
            }

            h3 {
                padding-top: 20px;
                @include font-termina-bold;
                text-transform: uppercase;
                font-size: 1.6em;
                line-height: 1em;
                color: $blue;
                text-decoration: none;
            
                span {
                    opacity: .7;
                }
            
                @include respond-to( $bp-m ) {
                    font-size: 2em;
                }
            }
        }
    }
}

