

.stories-container {
	padding: 20px 0 20px 20px;
	@include respond-to( $bp-m ) { padding: 25px 0 25px 30px; }
	@include respond-to( $bp-l ) { padding: 25px 0 25px $margin; }
	@include respond-to( $bp-xl ) { padding: 35px 0 35px $margin; }
	@include respond-to( $bp-xxl ) { padding: 45px 0 45px $margin; }
	@include respond-to( $bp-xxxl ) { padding: 55px 0 55px $margin; }

    &.tan {
        background: $tan;

        .story-content {
            background: white;
        }
    }

    .story-content {
        background: $tan;
    }

    .stories-intro {
        @include respond-to( $bp-m ) {
            padding-right: 17%;
            position: relative;
        }

        .nav-prev {
            width: 40px;
            height: 40px;
            background: url(../img/icon-arrow-black-left.png) center center no-repeat;
            background-size: contain;
            display: inline-block;

            @include respond-to( $bp-m ) {
                position: absolute;
                bottom: 30px;
                right: 11%;
            }

            &.disable {
                opacity: .3;
            }
        }

        .nav-next {
            width: 40px;
            height: 40px;
            background: url(../img/icon-arrow-black-right.png) center center no-repeat;
            background-size: contain;
            display: inline-block;

            @include respond-to( $bp-m ) {
                position: absolute;
                bottom: 30px;
                right: 6%;
            }

            &.disable {
                opacity: .3;
            }
        }

    }

    .stories-inner {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        padding: 10px 0;
        transition: 100ms margin-left ease-in-out;

        .story {
            flex: 0 0 300px;
            max-width: 400px;
            margin-right: 30px;
            border-radius: 6px;
            overflow: hidden;

            @include respond-to( $bp-m ) {
                flex-basis: 375px;
            }

            @include respond-to( $bp-xl ) {
                flex-basis: 500px;
            }

            img {
                display: block;
                width: 100%;
                border-bottom: 12px solid $red;
            }

            .story-content {
                padding: 15px 20px;

                h3 {
                    @include font-bold;
                    font-size: 1.1em;
                }

                p {
                    font-size: .9em;
                }
            }
        }
    }
}

